# Descripcion
### Realizar un Notebook debidamente documentado en donde se haga lo siguiente:
a. Carga del Dataset elegido por el equipo

b. Mostrar la información general del dataset (info) y estadísticas descriptivas generales
(describe)

c. Tamaño del conjunto de datos

d. Columnas que contiene y que información tienen

e. Que tipos de datos

f. Visualizar los nans que contiene el dataset

g. Limpiar el dataset para que no queden NAN

h. Reindexa el dataset

i. Renombra las columnas para una mejor comprensión

In [4]:
import pandas as pd

## a) Carga del Dataset elegido por el equipo

In [12]:
DF = pd.read_csv('../Dataset_csv/streaming_viewership_data.csv')
DF

,User_ID,Session_ID,Device_ID,Video_ID,Duration_Watched (minutes),Genre,Country,Age,Gender,Subscription_Status,Ratings,Languages,Device_Type,Location,Playback_Quality,Interaction_Events
0,eb4f9229-74df-45f6-baac-cf19241b8b30,cb2142a7-0750-49ed-b8ac-a975fe1ff69a,232,11,90.044525,Sci-Fi,Sudan,56,Female,Premium,3,Spanish,Smartphone,Reedshire,4K,73
1,661d4b59-4328-410a-901c-1e3b4c40c334,3bc0a662-b353-4015-8b0c-55ceb510d13a,549,85,68.973479,Comedy,Cuba,52,Male,Premium,3,Chinese,Desktop,Stevenhaven,SD,22
2,dd3fe9e9-ea82-4891-ab93-8a47c80e3251,bd545b4a-9f54-4e87-b9f8-15ae20b44f22,844,50,42.511343,Comedy,Japan,14,Female,Premium,3,Spanish,Tablet,Vaughntown,HD,41
3,a1b3365b-1d00-4ddf-bc43-02fc9c10c680,0441086d-c59e-478d-a496-5c5b995ecfdb,201,38,53.316660,Documentary,Lao People's Democratic Republic,36,Male,Premium,2,Spanish,Laptop,East Raymondbury,SD,40
4,338d3f91-5f1c-4590-8803-324901826406,0295f01d-7f15-4799-856c-90c688697ef8,700,31,69.437786,Action,Bangladesh,31,Male,Premium,4,German,Laptop,Michaelchester,HD,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6209,452e1861-cf88-4021-aaeb-1a32f12033fe,6715b659-8ad5-4d31-b756-99dd874f4126,265,44,21.113901,Thriller,Haiti,63,Male,Premium,3,French,Smart TV,East Robert,4K,2
6210,50e3b026-fb15-4576-bce8-fc08f509b175,c11f8dc9-0c60-44c8-9da1-2f4d2df62416,830,26,62.514391,Action,Malaysia,23,Male,Premium,4,German,Tablet,Walkerside,SD,87
6211,3daafeb1-4075-4aca-a7ce-e3506b7011d7,5c9630e3-c952-4a18-8652-9b3eb51d4f14,375,22,105.516389,Drama,Saint Martin,34,Male,Premium,5,English,Tablet,Jasonmouth,SD,54
6212,2dc2f81d-feba-437d-8545-733a7ea2bbd6,094c9f5c-761e-4aef-bb15-d452b2ca4370,347,7,38.963612,Action,Poland,23,Female,Premium,5,English,Laptop,Lloydland,4K,37
6213,16e0315a-4993-4ce0-a098-340ea5997f3f,83c2ee3b-ceef-4735-a64f-3eeac96ecbf5,909,88,78.483631,Drama,Kenya,12,Male,Premium,4,English,Laptop,Timothystad,SD,21

## b) Mostrar la información general del dataset (info)

In [13]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6214 entries, 0 to 6213
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     6214 non-null   object
 1   Session_ID                  6214 non-null   object
 2   Device_ID                   6214 non-null   int64
 3   Video_ID                    6214 non-null   int64
 4   Duration_Watched (minutes)  6214 non-null   float64
 5   Genre                       6214 non-null   object
 6   Country                     6214 non-null   object
 7   Age                         6214 non-null   int64
 8   Gender                      6214 non-null   object
 9   Subscription_Status         6214 non-null   object
 10  Ratings                     6214 non-null   int64
 11  Languages                   6214 non-null   object
 12  Device_Type                 6214 non-null   object
 13  Location                    6214 non-null   object
 14  Playback_Quality            6214 non-null   object
 15  Interaction_Events          6214 non-null   int64
dtypes: float64(1), int64(5), object(10)
memory usage: 776.9+ KB

## b) Estadísticas descriptivas generales

In [14]:
DF.describe()

,Device_ID,Video_ID,Duration_Watched (minutes),Age,Ratings,Interaction_Events
count,6214.000000,6214.000000,6214.000000,6214.000000,6214.000000,6214.000000
mean,496.762150,50.323785,60.378389,39.665594,2.987448,50.776794
std,287.681163,28.671178,34.597273,17.571317,1.403304,29.009363
min,1.000000,1.000000,0.055809,10.000000,1.000000,0.000000
25%,248.000000,26.000000,30.413538,24.000000,2.000000,26.000000
50%,493.500000,50.000000,60.765637,40.000000,3.000000,51.000000
75%,742.000000,75.000000,90.874141,55.000000,4.000000,76.000000
max,1000.000000,100.000000,119.999972,70.000000,5.000000,100.000000

## c) Tamaño del conjunto de datos

In [15]:
DF.shape

(6214, 16)

## d) Columnas que contiene y que información tienen

In [16]:
DF.columns

Index(['User_ID', 'Session_ID', 'Device_ID', 'Video_ID',
       'Duration_Watched (minutes)', 'Genre', 'Country', 'Age', 'Gender',
       'Subscription_Status', 'Ratings', 'Languages', 'Device_Type',
       'Location', 'Playback_Quality', 'Interaction_Events'],
      dtype='object')

In [17]:
for column in DF.columns:
    print(f"- {column}: {DF[column].dtype}")

- User_ID: object
- Session_ID: object
- Device_ID: int64
- Video_ID: int64
- Duration_Watched (minutes): float64
- Genre: object
- Country: object
- Age: int64
- Gender: object
- Subscription_Status: object
- Ratings: int64
- Languages: object
- Device_Type: object
- Location: object
- Playback_Quality: object
- Interaction_Events: int64

## e) Tipos de datos

In [18]:
DF.dtypes

User_ID                        object
Session_ID                     object
Device_ID                       int64
Video_ID                        int64
Duration_Watched (minutes)    float64
Genre                          object
Country                        object
Age                             int64
Gender                         object
Subscription_Status            object
Ratings                         int64
Languages                      object
Device_Type                    object
Location                       object
Playback_Quality               object
Interaction_Events              int64
dtype: object

## f) Visualizar los Nans que contenga nuestro Dataset

In [19]:
DF.isna().sum()

User_ID                       0
Session_ID                    0
Device_ID                     0
Video_ID                      0
Duration_Watched (minutes)    0
Genre                         0
Country                       0
Age                           0
Gender                        0
Subscription_Status           0
Ratings                       0
Languages                     0
Device_Type                   0
Location                      0
Playback_Quality              0
Interaction_Events            0
dtype: int64

Omitimos el inciso G debido a que no hubo ningun NaN

Omitimos el inciso H debido a que no se tuvo que re-indexar el dataset

## i) renombrar las columnas para una mejor comprención

In [21]:
nuevos_nombres = {
    'User_ID': 'ID_usuario',
    'Session_ID': 'ID_de_Sesion',
    'Device_ID': 'ID_de_dispositivo',
    'Video_ID': 'ID_Video',
    'Duration_Watched (minutes)': 'Duracion(Minutos)',
    'Genre': 'Categoria',
    'Country': 'Pais',
    'Age': 'Anio',
    'Gender': 'Genero',
    'Subscription_Status': 'Estatus_de_Suscripcion',
    'Ratings': 'Puntuacion',
    'Device_Type': 'Tipo_Dispositivo',
    'Location': 'Ubicacion',
    'Playback_Quality': 'Calidad_de_Video',
    'Interaction_Events': 'Eventos_Interactivos'
}

DF.rename(columns=nuevos_nombres, inplace=True)

print("DataFrame con columnas renombradas:")
DF

DataFrame con columnas renombradas:

,ID_usuario,ID_de_Sesion,ID_de_dispositivo,ID_Video,Duracion(Minutos),Categoria,Pais,Anio,Genero,Estatus_de_Suscripcion,Puntuacion,Languages,Tipo_Dispositivo,Ubicacion,Calidad_de_Video,Eventos_Interactivos
0,eb4f9229-74df-45f6-baac-cf19241b8b30,cb2142a7-0750-49ed-b8ac-a975fe1ff69a,232,11,90.044525,Sci-Fi,Sudan,56,Female,Premium,3,Spanish,Smartphone,Reedshire,4K,73
1,661d4b59-4328-410a-901c-1e3b4c40c334,3bc0a662-b353-4015-8b0c-55ceb510d13a,549,85,68.973479,Comedy,Cuba,52,Male,Premium,3,Chinese,Desktop,Stevenhaven,SD,22
2,dd3fe9e9-ea82-4891-ab93-8a47c80e3251,bd545b4a-9f54-4e87-b9f8-15ae20b44f22,844,50,42.511343,Comedy,Japan,14,Female,Premium,3,Spanish,Tablet,Vaughntown,HD,41
3,a1b3365b-1d00-4ddf-bc43-02fc9c10c680,0441086d-c59e-478d-a496-5c5b995ecfdb,201,38,53.316660,Documentary,Lao People's Democratic Republic,36,Male,Premium,2,Spanish,Laptop,East Raymondbury,SD,40
4,338d3f91-5f1c-4590-8803-324901826406,0295f01d-7f15-4799-856c-90c688697ef8,700,31,69.437786,Action,Bangladesh,31,Male,Premium,4,German,Laptop,Michaelchester,HD,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6209,452e1861-cf88-4021-aaeb-1a32f12033fe,6715b659-8ad5-4d31-b756-99dd874f4126,265,44,21.113901,Thriller,Haiti,63,Male,Premium,3,French,Smart TV,East Robert,4K,2
6210,50e3b026-fb15-4576-bce8-fc08f509b175,c11f8dc9-0c60-44c8-9da1-2f4d2df62416,830,26,62.514391,Action,Malaysia,23,Male,Premium,4,German,Tablet,Walkerside,SD,87
6211,3daafeb1-4075-4aca-a7ce-e3506b7011d7,5c9630e3-c952-4a18-8652-9b3eb51d4f14,375,22,105.516389,Drama,Saint Martin,34,Male,Premium,5,English,Tablet,Jasonmouth,SD,54
6212,2dc2f81d-feba-437d-8545-733a7ea2bbd6,094c9f5c-761e-4aef-bb15-d452b2ca4370,347,7,38.963612,Action,Poland,23,Female,Premium,5,English,Laptop,Lloydland,4K,37
6213,16e0315a-4993-4ce0-a098-340ea5997f3f,83c2ee3b-ceef-4735-a64f-3eeac96ecbf5,909,88,78.483631,Drama,Kenya,12,Male,Premium,4,English,Laptop,Timothystad,SD,21